//COLOR
$color-primary: #00945f;
$light-grey: rgb(141, 140, 140);
$color-orage: #e97300;
$color-white: #fff;
$color-black: #000;
$color-light-blue: #ebf7f5;
$color-green-yellow: #759b24;

//FONT
$default-font-size: 1.6rem;
$small-font-size: 1.2rem;
